$bf-white: #ffffff;
$bf-black: #000000;
$bf-pink-salmon: #ff969c;
$bf-froly: #f06271;
$bf-dusty-gray: #9B9293;
$bg-mine-shaft: #3F3F3F;
$bf-thunder: #1F191A;
$bf-silver-chalice: #A8A8A8;
$bf-cararra: #f4f3f1;
$bf-river-bed: #4A555C;
$bf-alto: #d2d2d2;
$space-item-rows: 9px;
$space-item-rows-mobile: 7.5px;

$bf-mobile-max: 767px;
$bf-tablet: 768px;
$bf-tablet-max: 991px;
$bf-desktop-min: 992px;
$bf-desktop: 1200px;

$bf-container: 1800px;